:root {
    --color-dark: #000000;
    --color-dark-text: #09160C;
    --color-light-text: #B7B7B7;
    --color-light-gray: #8B8B8B;
    --color-dark-gray: #2B2B2B;
    --color-accent: #E7AA53;
    
    --border: 2px solid var(--color-dark);
    --border-radius: 50%;

    --shadow: 8 8 15 10 rgba(0, 0, 0, 0.2)

    --container: 1280px;
    --container-padding: 80px;
    
    --transition-duration: 0.2s;

    @media (max-width: 1280px) {
        --container-padding: 60px;
    }

    @media (max-width: 767) {
        --container-padding: 20px;
    }
}