:root {
  --color-dark: #000000;
  --color-dark-text: #09160C;
  --color-light-text: #B7B7B7;
  --color-light-gray: #8B8B8B;
  --color-dark-gray: #2B2B2B;
  --color-accent: #E7AA53;
  --border: 2px solid var(--color-dark);
  --border-radius: 50%;
  --shadow: 8 8 15 10 rgba(0, 0, 0, 0.2)
  --container: 1280px;
  --container-padding: 80px;
  --transition-duration: 0.2s;
}
@media (max-width: 1280px) {
  :root {
    --container-padding: 60px;
  }
}
@media (max-width: 767) {
  :root {
    --container-padding: 20px;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.28;
  color: var(--color-light-text);
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h1, .h1 {
  font-size: 64px;
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 18px;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main {
  background: -webkit-gradient(linear, left top, right bottom, from(var(--color-light-gray)), to(var(--color-dark-gray)));
  background: linear-gradient(to bottom right, var(--color-light-gray), var(--color-dark-gray));
  -webkit-animation: background-light 2s infinite normal, background-dark 2s infinite normal;
          animation: background-light 2s infinite normal, background-dark 2s infinite normal;
}

@-webkit-keyframes background-light {
  50% {
    background-position: 0 700px;
  }
}

@keyframes background-light {
  50% {
    background-position: 0 700px;
  }
}
@-webkit-keyframes background-dark {
  10% {
    background-position: 0 100px;
  }
}
@keyframes background-dark {
  10% {
    background-position: 0 100px;
  }
}
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.header {
  max-width: 100%;
  padding-inline: var(--container-padding);
  background: var(--color-dark);
  position: relative;
  z-index: 3;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (hover: hover) {
  .header__logo:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .header__logo:active {
    color: var(--color-accent);
  }
}
.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.header__menu-link {
  height: 40px;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (hover: hover) {
  .header__menu-link:hover {
    color: var(--color-accent);
  }
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active {
    color: var(--color-accent);
  }
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
}